body {
  background-color: #f1f1f1;
}
h1 {
  padding-bottom: 20px;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  margin-top: 3%;
  color: darkgreen;
}
h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkgreen;
  margin-left: 4%;
}
.label {
  margin-left: 39%;
}
/* Estilizando o botão */
button {
  margin-left: 48%;
  background-color: lightgreen;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
label {
  font-size: 16px;
}
input[type="number"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70px;
  height: 14px;
}
table {
  padding-left: 6px 6px 6px 6px;
  border-collapse: collapse;
  margin-left: 42%;
}
th {
  padding: 3px;
  background-color: darkseagreen;
  font-size: large;
}

tbody {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
